<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:b="http://www.springframework.org/schema/beans"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security-3.0.xsd">

        <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/login.jsf" access="permitAll" />
        <intercept-url pattern="/restrict/**" access="isAuthenticated()" />
        <intercept-url pattern="/public/**" access="permitAll"/>
        
        <form-login login-page="/login.jsf" authentication-failure-url="/login.jsf?erro=true"
                    default-target-url="/restrict/home.jsf"/>		
        <access-denied-handler error-page="/acessonegado.jsf" />
    </http>                

    <!-- NO PROJETO SEMERU PADRÃO FIZEMOS DESSA FORMA -->  
    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="sha"/>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="SELECT Usuario, Senha, 'true' as enable FROM usuario WHERE Usuario=?"
                               authorities-by-username-query="SELECT Usuario as username, Permissao as authority  FROM usuario WHERE Usuario=?"/>               
        </authentication-provider>
    </authentication-manager>
    
    <b:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <b:property name="url" value="jdbc:mysql://192.168.1.222:3306/hextra" />
        <b:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <b:property name="username" value="suporte" />
        <b:property name="password" value="setsopocni.1986" />
    </b:bean>
    
    <!-- MAS EXISTEM OUTRAS 2 FORMAS DE SE FAZER ISSO -->
    <!-- VOCÊ PODE CUSTOMIZAR A AUTENTICATION PROVIDER -->
    <!--    <b:bean id="customAuthenticationProvider" class="br.com.semeru.security.CustomAuthenticationProvider"></b:bean> 
    <authentication-manager> 
        <authentication-provider ref="customAuthenticationProvider"/> 
    </authentication-manager>     -->
    
    <!-- OU VOCÊ PODE AINDA CUSTOMIZAR A USER DETAILS -->
<!--    <b:bean id="encoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"/>
    <authentication-manager>
        <authentication-provider user-service-ref="semeruUserService" >
            <password-encoder hash="sha"/>
        </authentication-provider>
    </authentication-manager>

    <b:bean id="semeruUserService" class="br.com.semeru.security.UserServiceImpl"/>-->
</b:beans>    